:root {
  font-family: 'Roboto';
  line-height: 1.5;
  font-weight: 400;

  color: rgb(0, 0, 0);
  background-color: #f2ebe5;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.gap {
  gap: 12px;
}

#app {
  width: 100vw;
}